@import url('https://fonts.googleapis.com/css?family=Manrope&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    max-width: 100%;
 
    overflow-x: hidden;
}

body {
    overflow: scroll;
}

body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    font-family: Manrope, serif;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.container-fluid {
    height: 100%;
    width: 100%;
}
.row {
    height: 100%;
    width: 100%;
}
section {
    color: #cc00ff;
}
footer {
    background: linear-gradient(270deg, #0000FF 0%, #E600FF 100%);
    color:#ffffff;
}
a {
    color: #cc00ff;
    text-decoration: none;
}
 a:hover {
    color: #cc00ffa3;
}
@media (min-width:1300px) and (min-height:1600px) {
    body {

        font-size: 35px;
    }
  

    header {
        font-size: 35px !important;
    }
    .cherta p {
        font-size: 35px !important;
    }
    footer {
        height: auto !important;
        font-size: 30px !important;
    }

    #doge {

        width: 300px !important;
       
    
   
    }
}
@media (min-width:1400px) {
    body {

        font-size: 32.5px;
    }
   

    header {
        font-size: 32.5px !important;
    }
    .cherta p {
        font-size: 32.5px !important;
    }
    footer {
        height: auto !important;
        font-size: 30px !important;
    }
    #doge {

       width: 350px !important;
       
    
   
    }

}
@media (min-width:2000px) {
    h1, h2, h3 {
        font-size: 3rem!important;
    }
    body {

        font-size: 40px;
    }
  

    header {
        font-size: 40px !important;
    }
    .cherta p {
        font-size: 40px !important;
    }
    footer {
        height: auto !important;
        font-size: 35px !important;
    }
    #doge {

        width: 400px !important;
       
    
   
    }

}


@media (min-width:2560px) and (max-height:1600px) {
 
    #doge {
        
      

        width: 400px !important;
       
    
   
    }

}
@media (min-width:1200px) and (max-height:1650px) {
    
     #resorce #doge {
        margin-top: 20% !important;
        
       

        width: 400px !important;
       
    
   
    }

}




@media (min-width:768px) and (max-width:1400px) and (min-height:1200px) {
    
   #doge {
    margin-top: 10em !important;
   }
}

@media (min-width:1400px) and (max-height:1200px) {
    
    #doge {
     margin-top: 0 !important;
    }
 }

 @media (min-width:1250px) and (min-height:1800px) {
    body {

        font-size: 38px;
    }
   

    header {
        font-size: 38px !important;
    }
    .cherta p {
        font-size: 38px !important;
    }
    footer {
        height: auto !important;
        font-size: 32.5px !important;
    }
    #doge {

       width: 400px !important;
       
    
   
    }

}
@media (min-width:1800px) and (min-height:1800px) {
    body {

        font-size: 50px;
    }
  

    header {
        font-size: 50px !important;
    }
    .cherta p {
        font-size: 50px !important;
    }
    footer {
        height: auto !important;
        font-size: 40px !important;
    }
    #doge {

        width: 400px !important;
       
    
   
    }

}

@media (min-width:1400px) and (min-height:1400px) and (max-height:1600px) {
    #doge {
    margin-top: 10em;
    }
        
    
}

@media (min-width:1400px) and (max-height:1200px) {
    #doge {
    margin-top: 0em;
    }
        
    
}

@media (min-width:2000px) and (min-height:1400px) and (max-height:1600px) {
    #doge {
    margin-top: 5em;
    }
        
    
}
@media (min-width:1400px) and (min-height:1600px) {
    body {

        font-size: 40px;
    }
   

    header {
        font-size: 40px !important;
    }
    .cherta p {
        font-size: 40px !important;
    }
    footer {
        height: auto !important;
        font-size: 40px !important;
    }
    #doge {

        width: 400px !important;
       
    
   
    }

}

@media (min-width:2000px) and (min-height:1600px) {
    h1, h2, h3 {
        font-size: 3.5rem!important;
    }
    body {

        font-size: 50px;
    }
  

    header {
        font-size: 50px !important;
    }
    .cherta p {
        font-size: 50px !important;
    }
    footer {
        height: auto !important;
        font-size: 40px !important;
    }
    #doge {

        width: 500px !important;
       
    
   
    }

}

@media (min-width:1400px) and (max-width:2000px) {
    #doge {
        margin-top: 5em;
        }
           
    
}

@media (min-width:2000px) and (min-height:1800px) {
    #doge {
        margin-top: 5em;
        }
           
    
}